:root{
    --font:'Aboreto', cursive;
    --Headline: 'Roboto Condensed', sans-serif;
    --yellow: yellow;
    --profile : url(https://i.pinimg.com/564x/38/1a/b6/381ab6fefbc2e582b1c629ad470ce170.jpg);
}
a[href^="tel"] {
    color: inherit; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
    /* Additional css `propery: value;` pairs here */
  }