html{
    font-size: 50%;
}
/* Set Screen to full */
#Holder{
    height: 100%;
    width: 100%;
}

#Landing-Container {
    height: clamp(734px,87vh,734px);
}

/* Make social icon smaller */
.Social{
    color: #000000;
    text-decoration: none;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: yellow;
    line-height: 35px !important;
    transition: 0.3s;
}

/* Fix Profile Section Height */
#Profile{
    height: 67vh;
}
#Profile-Container{
    flex-wrap: wrap;
    text-align: center;
}

.B1-Icons{
    color: #000000;
    text-decoration: none;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    line-height: 30px !important;
    transition: 0.3s;
    font-size: 2.5rem;
}

#B1-Ui {
    padding: 0;
    margin-left: 36px;
}

#Box-1{
    height: 217px;
}
#Box-2{
    height: 206px;
}
#Box-3{
    height: 206px;
}
#Box-right-1 {
    height: 327px;
}
.B1-Headline {
  margin-left: 8px;
  color: #fff
}
#Resume {
    width: 133vw;
    height: 664px;
    overflow-x: scroll;
}
#Image-right {
    /* display: inline-block; */
    width: clamp(138px,37vw,138px);
    height: clamp(100px,21vh,140px);
}
#Headline-Qr {
    margin-left: 60px;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 13px;
}

.Para-2 {
    position: absolute;
    display: inline-block;
    width: clamp(200px,41%,251px);
    font-family: var(--Headline);
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 18px;
    margin-bottom: 1rem;
    margin-left: 19px;
    text-align: inherit;
}
#size-fix{
    font-size: 16px;
}
